{
  "FIREBASE_WEB_API_KEY": "AIzaSy_YOUR_WEB_API_KEY_HERE",
  "FIREBASE_ANDROID_API_KEY": "AIzaSy_YOUR_ANDROID_API_KEY_HERE",
  "FIREBASE_IOS_API_KEY": "AIzaSy_YOUR_IOS_API_KEY_HERE",
  "FIREBASE_MACOS_API_KEY": "AIzaSy_YOUR_MACOS_API_KEY_HERE",
  "FIREBASE_WINDOWS_API_KEY": "AIzaSy_YOUR_WINDOWS_API_KEY_HERE",
  "RECAPTCHA_SITE_KEY": "YOUR_RECAPTCHA_SITE_KEY_HERE",
  "RECAPTCHA_SECRET_KEY": "YOUR_RECAPTCHA_SECRET_KEY_HERE"
}
